/*
PALETA DE COLOR
VERDE OSCURO: #015238
VERDE CLARO: #7DA287
VERDE MUY CLARO: #BCCAAE
BEIGE: #F5EFD2
NARANJA: #F1C27B
*/

.navbar {
    background-color: #F5EFD2;
}

.card-body .btn{
    background-color: #015238;
    color: #F5EFD2;
}
.card-body .btn:hover{
    background-color: #F5EFD2;
    color: #015238;
}